.article {
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    margin: 15% 0;
    border-radius: 10px;
    img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .section-three-body {
        padding: 10%;
        text-align: left;
        h5, h2, p {
            margin: 0;
        }
        h5 {
            margin: 5% 0;
            color: hsl(233, 8%, 62%);
        }
        h2 {
            font-size: 18px;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .article {
        width: 25%;
        margin: 5% 0;
        margin-right: 2%;
        padding-bottom: 2%;
        img {
            height: 50%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .section-three-body {
            padding: 10%;
            text-align: left;
            h5, h2, p {
                margin: 2% 0;
            }
            h5 {
                margin: 5% 0;
            }
            h2:hover {
                color: hsl(136, 65%, 51%);
                cursor: pointer;
            }
        }
    }
    
}