.icon {
    margin: 3%;
    img {
        width: 30px;
    }
}

@media only screen and (min-width: 1440px) {
    .icon {
        margin-left: 0px;
        margin-right: 3%;
        img {
            width: 20px;
            padding: 3px;
            border: 1px solid rgba(#000, 0);
        }
        img:hover {
            background-color:  hsl(136, 65%, 51%);
            border: 1px solid hsl(136, 65%, 51%);
        }
    }
    
}