.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin-top: 15%;
    border-radius: 10px;
    padding: 5% 0;
    z-index: 15;
    opacity: 0;
    transition: opacity 450ms ease;
    a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        margin: 10px;
    }
}
.menu.active {
    display: flex;
    opacity: 1;
    transition: opacity 450ms ease;
}

@media only screen and (min-width: 1440px) {
    .menu {
        display: flex;
        flex-direction: row;
        position: relative;
        background-color: none;
        align-items: center;
        margin-top: 0;
        opacity: 1;
        padding: 0;
        height: 8vh;
        a {
            height: 90%;
            display: flex;
            align-items: center;
            margin: 0 15px;
            border-bottom: 5px solid rgba(#000, 0);
        }
        a:hover {
            border-bottom: 5px solid hsl(136, 65%, 51%);
        }
    }
  }