.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 80%;
    margin-top: 15%;
    border-radius: 10px;
    padding: 5% 0;
    z-index: 15;
    opacity: 0;
    transition: opacity 450ms ease;
    a {
        text-decoration: none;
        color: black;
        margin: 10px;
    }
}
.menu.active {
    display: flex;
    opacity: 1;
    transition: opacity 450ms ease;
}