.section-three-container {
    background-color: hsl(0, 0%, 98%);
    padding-top: 10%;
    .section-three-contents {
        padding: 5%;
        .title {            
            h1 {
                width: 80%;
                margin: auto;
                font-size: 42px;
            } 
        }
    }
}
@media only screen and (min-width: 1440px) {
    .section-three-container {
        padding: 0;
        text-align: left;
        .section-three-contents { 
            padding: 5% 10%;
            .title {            
                h1 {
                    margin: 0;
                    font-size: 42px;
                } 
            }
        }
    }
}